:root {
    ---background-color-client: #300a62;
    ---backgroud-color-logo-client: transparent;
    ---background-color-submit: #00cc66;
    
    ---background-color-success: #0ef380;
    ---background-color-error: #ff6363;
}