* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2em;
}
a {
    color:#337ab7;
}
a:hover, a:focus {
    opacity: .7;
    background: none;
}

label {font-size:.8em; opacity: .8; display: block; font-weight: 600; margin:.8em 0 .4em 0;}
.frmControlGroup .frmControl:first-child {border-radius: 4px 4px 0 0 ;}
.frmControlGroup .frmControl {border-radius: 0; margin-top:-1px;}
.frmControlGroup .frmControl:last-child {border-radius: 0 0 4px 4px; position: relative;}

.frmControlGroup section {
  display: flex;
}
.dFlex {display: flex;}
.spcInp input:last-child {margin-left:.5em;}

.frmControl {
    padding:8px 12px;
    /* margin:.3em 0; */
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 4px;
    font-size:.9em;
    font-weight: 700;
    box-shadow: var(--color-black-opacity) 0px 0px 3px;
    transition: .2s;
}
select.frmControl {padding-left:.5em; }
.frmControl:hover {box-shadow: var(--color-black-opacity-hover) 0px 0px 4px;}
.frmControl:focus, .frmControl:active {
    outline-style: inset;
    outline-width: .3em;
    outline-color: rgba(0, 0, 0, .05);
    border-color: #999;
}

.frmControl::placeholder {
    color:#BBB;
    font-weight: normal;
}

.submitButton {
    background-color: var(---background-color-submit);
    padding:1em;
    margin-top:1em;
    width: 100%;
    border: 1px solid var(---background-color-submit);
    border-radius: 7px;
    transition: .1s;
    cursor: pointer;
    font-weight: 900;
    font-size: 1em;
}

.submitButton:hover, .submitButton:focus {background-color: #00c161;}
.submitButton:active {
    outline-style: inset;
    outline-width: .3em;
    outline-color: rgba(0, 0, 0, .05);
    background-color: #01d86d;
}

.divLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  font-size: .9em;
  opacity: .6;
  margin-bottom: .8em;
}
.divLine hr {width: 100%; border: 0; border-top:1px solid var(--color-black-opacity)}
.divLine hr:first-child {margin-right: 10px; }
.divLine hr:last-child {margin-left: 10px; }


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
    transition: all 0.5s ease-out;
  }

  /* .slide-fade-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  } */

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }



  .bounce-enter-active {
    animation: bounce-in 0.5s;
  }
  .bounce-leave-active {
    animation: bounce-in 0.5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
